[Configuration]
Version=0.4.6.r3603

[Alt+X]
Command0=cm_Exit
Param0=
Object0=FrmMain
Form0=FrmMain

[F1]
Command0=cm_About
Param0=
Object0=FrmMain
Form0=FrmMain
Command1=cm_Viewer_About
Param1=
Object1=FrmViewer
Form1=FrmViewer

[F2]
Command0=cm_RenameOnly
Param0=
Object0=FrmMain
Form0=FrmMain

[F3]
Command0=cm_View
Param0=
Object0=FrmMain
Form0=FrmMain

[F4]
Command0=cm_Edit
Param0=
Object0=FrmMain
Form0=FrmMain

[F5]
Command0=cm_Copy
Param0=
Object0=FrmMain
Form0=FrmMain

[F6]
Command0=cm_Rename
Param0=
Object0=FrmMain
Form0=FrmMain

[F7]
Command0=cm_MakeDir
Param0=
Object0=FrmMain
Form0=FrmMain

[F8]
Command0=cm_Delete
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+F8]
Command0=cm_Delete
Param0=recyclesettingrev
Object0=FrmMain
Form0=FrmMain

[Del]
Command0=cm_Delete
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Del]
Command0=cm_Delete
Param0=recyclesettingrev
Object0=FrmMain
Form0=FrmMain

[F9]
Command0=cm_RunTerm
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+A]
Command0=cm_MarkMarkAll
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+R]
Command0=cm_Refresh
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+F7]
Command0=cm_Search
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+D]
Command0=cm_DirHotList
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+F3]
Command0=cm_SortByName
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+F4]
Command0=cm_SortByExt
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+F6]
Command0=cm_SortBySize
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+F5]
Command0=cm_SortByDate
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+M]
Command0=cm_MultiRename
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+F5]
Command0=cm_CopySamePanel
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+F6]
Command0=cm_RenameOnly
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+F4]
Command0=cm_EditNew
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+F10]
Command0=cm_ContextMenu
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+H]
Command0=cm_DirHistory
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+7]
Command0=cm_ShowCmdLineHistory
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+L]
Command0=cm_CalculateSpace
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Alt+F9]
Command0=cm_TestArchive
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Alt+Enter]
Command0=cm_CountDirContent
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+Enter]
Command0=cm_FileProperties
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+T]
Command0=cm_NewTab
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+W]
Command0=cm_RemoveTab
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Z]
Command0=cm_EditComment
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Q]
Command0=cm_QuickView
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+F5]
Command0=cm_PackFiles
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+F9]
Command0=cm_ExtractFiles
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+F1]
Command0=cm_LeftOpenDrives
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+F2]
Command0=cm_RightOpenDrives
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+P]
Command0=cm_AddPathToCmdLine
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+F2]
Command0=cm_FocusCmdLine
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Left]
Command0=cm_TransferLeft
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Right]
Command0=cm_TransferRight
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+PgDn]
Command0=cm_OpenArchive
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+S]
Command0=cm_QuickSearch
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+F]
Command0=cm_QuickFilter
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Ctrl+X]
Command0=cm_CopyNamesToClip
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Ctrl+C]
Command0=cm_CopyFullNamesToClip
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+Z]
Command0=cm_TargetEqualSource
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+U]
Command0=cm_Exchange
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+Del]
Command0=cm_Wipe
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Tab]
Command0=cm_NextTab
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Ctrl+Tab]
Command0=cm_PrevTab
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+X]
Command0=cm_CutToClipboard
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+C]
Command0=cm_CopyToClipboard
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+V]
Command0=cm_PasteFromClipboard
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+\]
Command0=cm_ChangeDirToRoot
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+PgUp]
Command0=cm_ChangeDirToParent
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Up]
Command0=cm_OpenDirInNewTab
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Down]
Command0=cm_ShowCmdLineHistory
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+Enter]
Command0=cm_AddFilenameToCmdLine
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Ctrl+Enter]
Command0=cm_AddPathAndFilenameToCmdLine
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+Left]
Command0=cm_ViewHistoryPrev
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+Right]
Command0=cm_ViewHistoryNext
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+Down]
Command0=cm_DirHistory
Param0=
Object0=FrmMain
Form0=FrmMain

[Shift+Ctrl+H]
Command0=cm_HorizontalFilePanels
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+V]
Command0=cm_OperationsViewer
Param0=
Object0=FrmMain
Form0=FrmMain

[Alt+D]
Command0=cm_EditPath
Param0=
Object0=FrmMain
Form0=FrmMain

[Ctrl+G]
Command0=cm_Int_RunCommandFromBarFile
Param0=Ctrl+G
Object0=FrmMain
Form0=FrmMain
